@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-size: 20px;
    color: #444444;
    min-width: 1450px;
    font-family: 'NanumSquareNeo';
    line-height: 1.5;
    /* font-family: 'Jalnan2-Regular';*/
    /*font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy';*/
}

::-webkit-scrollbar {
    width: 10px;
    /* 스크롤바의 너비 */
}

::-webkit-scrollbar-thumb {
    height: 20%;
    /* 스크롤바의 길이 */
    background: #ff88a1;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 225, 206, 0.1);
    /*스크롤바 뒷 배경 색상*/
}

/*top*/
#top {
    background-color: #77e5df;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.top_inner {
    width: 1320px;
    height: 45px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_inner ul {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.top_inner ul.left_btn li {
    padding: 15px 15px 15px 0;
}

.top_inner ul li {
    padding: 15px 0;
}

.top_inner ul li.padding_right {
    padding: 15px 15px 15px 0;
}

/*header*/
#header {
    position: fixed;
    width: 100%;
    top: 45px;
    left: 0;
    z-index: 50;
    background-color: #fcf9f1;
    box-shadow: 0px 3.5px 7px rgba(0, 0, 0, 0.05);
}

.header_inner {
    width: 1320px;
    height: 100px;
    margin: 0 auto;
}

.header_inner>ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_inner>ul>li>a {
    font-family: 'NanumSquareNeoHeavy';
}

#header:hover {
    box-shadow: 0px 3.5px 3.5px rgba(0, 0, 0, 0.1);
}

.gnb {
    display: flex;
}

.gnb>li {
    font-weight: bold;
    padding: 30px 40px;
}

.gnb>li {
    position: relative;
}

.gnb>li:hover>a {
    color: #ff88a1;
    transition: all 0.3s;
    border-bottom: 2px solid #ff88a1;
}

.sub {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 5;
    display: none;
    margin: 15px 0;
}

.sub li {
    font-size: 18px;
    color: #666;
    font-weight: normal;
    padding: 10px 0;
    text-align: center;
}

.sub li:hover a {
    color: #ff88a1;
    transition: all 0.3s;
}

.gnb>li:nth-child(3):hover>a {
    border: none;
}

.gnb {
    position: relative;
    display: flex;

}

.gnb>.sub_bg {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: #fcf9f1;
    opacity: 0.9;
    border-radius: 0 0 50px 50px;
    padding: 0;
    border-bottom: 2px solid #ff88a1;
    border-left: 2px solid #ff88a1;
    border-right: 2px solid #ff88a1;
}

/*banner*/
#banner {
    margin-top: 146px;
}

#banner img {
    width: 100%;
}

/*participation*/
#participation {
    background-color: #fcf9f1;
}

.participation_inner {
    width: 1320px;
    margin: 0 auto;
}

.participation_inner h1 {
    padding-top: 120px;
    padding-bottom: 47px;
}

.img_box {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.participation_inner p.text {
    line-height: 1.8;
    font-family: 'NanumSquareNeoBold';
    margin-bottom: 80px;
}

.participation_inner p span {
    font-family: 'NanumSquareNeo';
}

.participation_inner h2 {
    padding-bottom: 65px;
}

@keyframes btn1 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5px);
    }
}

.arrow {
    animation: btn1 0.5s linear infinite alternate;
}

.ask_box {
    background: url(../images/participation\ ask_bg.png) no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    height: 117px;
}

.ask_box img {
    padding: 20px;
}

.part_btn {
    margin-top: 60px;
    margin-left: 45%;
    margin-bottom: 30px;
    font-family: 'NanumSquareNeoExtraBold';
    font-size: 20px;
    text-align: center;
}

.btn-bubble {
    display: inline-block;
    z-index: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 180px;
    height: 45px;
    line-height: 41px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 23px !important;
    background: transparent;
    font-size: 16px;
    -webkit-transition: color 0.45s;
    transition: color 0.45s;
    color: #ff88a1;
    border: 2px solid #ff88a1;
    font-weight: 500;
}


.btn-bubble .btn-bubble-inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn-bubble .btn-bubble-itembox {
    position: relative;
    display: block;
    height: 100%;
    -webkit-filter: url(#bubble-start);
    filter: url(#bubble-start);
}


@supports ((-webkit-filter: url("#bubble-start")) or (filter: url("#bubble-start"))) .btn-bubble .btn-bubble-item {
    -webkit-transform: translate3d(0, 150%, 0) scale(1.4);
    transform: translate3d(0, 150%, 0) scale(1.4);
}

.btn-bubble .btn-bubble-item {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    background: #ff88a1;
    border-radius: 100%;
    -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
    transform: translate3d(0, 150%, 0) scale(1.7);
    -webkit-transition: -webkit-transform 0.45s;
    transition: -webkit-transform 0.45s;
    transition: transform 0.45s;
    transition: transform 0.45s, -webkit-transform 0.45s;
}

.btn-bubble .btn-bubble-item:nth-of-type(1) {
    left: 0%;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.btn-bubble .btn-bubble-item:nth-of-type(2) {
    left: 30%;
    -webkit-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.btn-bubble .btn-bubble-item:nth-of-type(3) {
    left: 60%;
    -webkit-transition-delay: 0.16s;
    transition-delay: 0.16s;
}

.btn-bubble .btn-bubble-item:nth-of-type(4) {
    left: 90%;
    -webkit-transition-delay: 0.24s;
    transition-delay: 0.24s;
}

.btn-bubble:hover {
    color: #fff
}

.btn-bubble:hover .btn-bubble-item {
    transform: translateZ(0) scale(1.7);
}

/*promotion*/
#promotion {
    background-color: #fcf9f1;
}

.promotion_inner {
    width: 1320px;
    margin: 0 auto;
}

.promotion_inner h1 {
    padding-top: 93px;
    padding-bottom: 60px;
}

.flex_box1,
.flex_box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_box1 {
    padding-bottom: 100px;
}

.flex_box2 {
    padding-bottom: 130px;
}

/*footer*/
#footer {
    background-color: #ffe0e7;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    height: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_left {
    text-align: left;
}

.footer_left img {
    padding-bottom: 37px;
}

.footer_left p {
    font-size: 16px;
    line-height: 1.7;
}

.footer_right a {
    display: inline-block;
    margin-right: 28px;
    margin-top: 54px;
}

.footer_right a img {
    width: 100%;
}