@font-face {
    font-family: 'Jalnan2-Regular';
    src: url('Jalnan2-Regular.woff2') format('woff2'),
        url('Jalnan2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jalnan 2 TTF';
    src: url('Jalnan2TTF.woff2') format('woff2'),
        url('Jalnan2TTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}